# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Credentials
backend/creds.json
.env
backend/client_secret.json

# Streamlit
.streamlit/secrets.toml

# System
.DS_Store
